body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Add Padding */
}

.nav-logo {
  width: 200px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-links li {
  font-weight: 600;
  font-size: 1.3rem;
  color: #042740;
  cursor: pointer;
}

.nav-links li:nth-child(2) {
  color: #ba2025;
}

main {
  /* Add Padding */
}

h1 {
  font-size: 3rem;
  /* Add margin */
}

.article-img {
  width: 100%;
  /* Add Border Radius */
}

.content p {
  line-height: 200%;
}

h3 {
  font-size: 2.2rem;
}

.related-post {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  /* Add padding & border*/
}

.related-post img {
  width: 400px;
}

.related-post__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.related-post__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.related-post__btn {
  font-size: 1.2rem;
  background-color: #042740;
  color: #fff;
  outline: none;
  cursor: pointer;
  /* Add padding & border*/
}

.newsletter {
  width: 80vw;
  margin: auto;
  background-color: #ba2025;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  /* Add padding */
}

.newsletter__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.newsletter__subtitle {
  font-size: 1.3rem;
  opacity: 0.5;
}

.newsletter__header {
  font-size: 2.5rem;
  font-weight: 800;
}

.newsletter__input {
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 1rem;
}

.newsletter__input input {
  width: 20vw;
  font-size: 1.3rem;
  border: none;
}

.newsletter__input button {
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  padding: 15px 50px;
  background: linear-gradient(to left top, #1bd853, #78b2ff);
}
